body{
    background-image: url(../img/background.png);

}

section{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

form{
    background-color: black;
    border-radius: 25px;
    padding-top: 25px;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 40px;
}

.form-group{min-width:300px;}

.item__cadastro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

