body {
    background-color: #d6d6d6;
    font-family: "Open Sans", "Raleway", Arial, sans-serif;
    color: black;
  }
  
  .container {
    width: 94%;
    margin: 0 auto;
  }

  .cabecalhoPrincipal > .container {
      background-color: #d6d6d6;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
  }

  .cabecalhoPrincipal img {
    width: 120px;
  }

  .cabecalhoPrincipal-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cabecalhoPrincipal-nav a {
    text-decoration: none;
    color: #ad1923;
    padding-right: 10px;
  }

  nav .cabecalhoPrincipal-nav-login {
    border: 3px solid;
    border-image: #ad1923;
    border-image-slice: 1;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .conteudoPrincipal-banner {
      background-image: url('../img/background.png');
      height: 400px;
  }

  .conteudoPrincipal-banner > h2 {
      font-size: 2em; 
      padding-top: 140px;
      text-shadow:  2px -2px #ad1923,
                    -2px 2px #ad1923,
                    -2px -2px #ad1923,
                    2px 2px #ad1923;
      color: white;
  }

  #conteudoPrincipal-visao {
    height: 50vh;
    color: #ad1923;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 40px;
  }
  
  #conteudoPrincipal-visao-titulo {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
    padding-top: 130px;
  }
  
  #conteudoPrincipal-visao-titulo::after {
    background: #000000;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    margin-top: 15px;
    width: 10%;
    transform: translateX(-50%);
    left: 50%;
  }
  
  .visao-texto {
    text-align: center;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-top: 80px;
  }

  .rodapePrincipal {
    background-color: #ad1923;
    padding-top: 1em;
    color: white;
    text-shadow: 2px -2px #000000,
    -2px 2px #000000,
    -2px -2px #000000,
    2px 2px #000000;
  }

